.git/objects/pack/pack-1309c5ab34cf96f4f985b47cce8d2f78a0dbe86a.pack
.git/objects/pack/pack-5270c4a13f3b64143d00214fa5349e00e9c6c132.pack
.git/objects/pack/pack-f651a7d4443468ef509c32301da364163a99b24d.pack
01_Testing_PyTorch/data/cifar-10-python.tar.gz
02_Homeworks/Assignment_A_Graph/dataset/graph_data_decoding_2024.pt
02_Homeworks/Assignment_A_Graph/dataset/graph_data_decoding_2024_small.pt
02_Homeworks/Assignment_B_Tetris/logfiles/stateTracker_3_200000.npy
03_Workshops/01_Convolutional_Neural_Networks_for_Image_Analysis/Code_Examples/particle_dataset/.git/objects/pack/pack-e23a94673e916c8f4564d4ec9c0ebed1e2502886.pack
03_Workshops/01_Convolutional_Neural_Networks_for_Image_Analysis/Code_Examples/particle_dataset/high_noise.avi
03_Workshops/01_Convolutional_Neural_Networks_for_Image_Analysis/Code_Examples/particle_dataset/particle_dataset.zip
